<div id="control-bar-container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-danger btn-block" ng-click="ctrl.startOver()">START OVER</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-primary btn-block" ng-click="ctrl.startRecording()">ADD OPTION</button>
        </div>
    </div>
    <br>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 button-center">
                <button type="button" class="btn btn-success btn-block random-button" ng-click="ctrl.pickOneOption()">SELECT</button>
            </div>
        </div>
    <br>
</div>