<div id="history-view-container" class="container">
    <div>
        <!--<button class="btn btn-default" ng-click="ctrl.onCloseHistoryButtonClicked()">SPEC</button>-->
            <ul>
                <!--<div ng-repeat="obj in ctrl.allHistory">
                    <li>{{obj}}</li>
                </div>-->
                <li><h5>API</h5></li>
                    <ul>
                        <li><p>Flickr image search engine</p></li>
                        <li><p>Google speech recognition API</p></li>
                    </ul>
                <li><h5>client</h5></li>
                    <ul><li><p>AngularJS</p></li></ul>
                <li><h5>server</h5></li>
                    <ul>
                        <li><p>NodeJS</p></li>
                        <li><p>Express</p></li>
                    </ul>
                <li><h5>database</h5></li>
                    <ul><li><p>MongoDB</p></li></ul>
            </ul>
    </div>
</div>