<div id="settings-container">
    <div class="btn-group dropdown-position">
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-cog"></span></button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-appearence"><a href="#">Account</a></li>
            <li class="dropdown-appearence"><a href="#" ng-click="ctrl.onHistoryClicked()">Spec</a></li>
            <li class="dropdown-appearence"role="separator" class="divider"></li>
            <li class="dropdown-appearence"><a href="#">Donation</a></li>
        </ul>
    </div>
</div>